{% extends "shared/__base.html" %}
{% load humanize %}

{% block content %}	
	<div class="page-title">
		<div class="pull-left">
			<h3>{{payload.name}}</h3>
		</div>
		<div class="pull-right">
			{% if user.is_authenticated %}
				<a href="{% url 'home' %}admin/rocketapp/launch/{{launch.id}}" class="btn btn-default">
					<i class="fa fa-pencil"></i> Edit
				</a>
			{% endif %}
		</div>
	</div>
	<hr/>


	<div class="row">
		<div class="col-md-6">		
			<div class="title" style="text-align:left" >
				<div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Payload Information</div>
				  <ul class="list-group">
				  	<li class="list-group-item"><strong>Family</strong> : 
			  		   	{{payload.family.name}}
				  	</li>
				  	<li class="list-group-item"><strong>Manufacturers</strong> : 
			  		   	{% for manufacturer in payload.manufacturers.all %}
							<a href="">{{ manufacturer.name }}</a> 
						{% endfor %}
				  	</li>
				  </ul>
				</div>
			</div>
		</div>
		<div class="col-md-6">		
			<div class="title" style="text-align:left" >
				<div class="panel panel-default">
				  <!-- Default panel contents -->
				  <div class="panel-heading">News</div>
				  <ul class="list-group">
				  	<li class="list-group-item">
					  	<a href="#">
							News Article
						</a>
				  	</li>
				  	<li class="list-group-item">
					  	<a href="#">
							News Article 2
						</a>
				  	</li>
				  	<li class="list-group-item">
					  	<a href="#">
							News Article 3
						</a>
				  	</li>
				  	<li class="list-group-item">
					  	<a href="#">
							News Article 4	
						</a>
				  	</li>
				  </ul>
				</div>
			</div>
		</div>
	</div>

{% endblock %}