<div class="page-title">
	<h3>About</h3>
</div>

<div class="page">
	<div class="panel-about">
		
		<p><a href="http://RocketLaunches.org">RocketLaunches.org</a> aims to provide visitors with information regarding Rocket Launches around the world. The end goal is to provide interesting information about launches, manufacturers and the rockets themselves.</p>

		<p>This site was created by <a href="http://leemckinnon.com">Lee McKinnon</a> (that's me). I created this site after many years of being fascinated by space travel and the technology behind it. I wanted to start this project to advanced my own knowledge of the industry and the science of every launch.</p>

		<p>The initial version (1.0) was developed entirely during Christmas week of 2014 and it went public in January 2015. It is currently pretty basic, but I hope to add more functionality very soon.</p>

		<p>I will update the data over time and will add features as requested. The source of the data varies from all over the web.</p>
	</div>

	<div class="panel-powered-by text-center">
		<h4>RocketLaunches is powered by...</h4>
		
		<div class="text-center">
			<a href="http://marionettejs.com/" title="MarionetteJS">MarionetteJS</a> &middot; 
			<a href="http://backbonejs.org/" title="BackboneJS">BackboneJS</a> &middot; 
			<a href="http://getbootstrap.com/" title="Bootstrap">Bootstrap</a> &middot; 
			<a href="http://requirejs.org/" title="RequrieJS">RequrieJS</a>
		</div>	
		<div class="text-center">
			<a href="https://www.python.org/" title="Python">Python</a> &middot; 
			<a href="https://www.djangoproject.com/" title="Django">Django</a> &middot; 
			<a href="http://nginx.org/" title="Nginx">Nginx</a>
		</div>
		<div class="text-center">
			<a href="http://www.ubuntu.com/server" title="Ubuntu">Ubuntu</a> &middot; 
			<a href="https://www.linode.com/" title="Linode">Linode</a>
		</div>
	</div>
</div>