<div id="page-about">
	<h2>About</h2>

	<div class="row">
		<div class="col-md-7">
			<p><a href="http://RocketLaunches.net">RocketLaunches.net</a> aims to provide visitors with information regarding Rocket Launches around the world. Commercial space flight is slowly gaining traction that will inspire all of us to push humanity into the final frontier.</p>

			<p>This site was created by <a href="http://leemckinnon.com">Lee McKinnon</a> (that''s me). I created this site after many years of being fascinated by space travel and the technology behind it. I wanted to start this project as I saw an opportunity to create a one-stop-shop for all things rocket launches.</p>

			<p>It was developed entirely during Christmas week of 2014 and it went public in January 2015.</p>

			<p>I will carefully update the data over time and will add features as requested. The source of the data varies from all over the web.</p>

		</div>
		<div class="col-md-5">
			<img src="static/images/orion.jpg" />
		</div>
	</div>

	<hr/>

	<div class="panel-powered-by text-center">
		<h3>RocketLaunches is powered by...</h3>
		
		<div class="text-center">
			<a href="http://marionettejs.com/" title="MarionetteJS"><img src="static/images/tech/marionette.png" /></a>
			<a href="http://backbonejs.org/" title="BackboneJS"><img src="static/images/tech/backbone.png" /></a>
			<a href="http://getbootstrap.com/" title="Bootstrap"><img src="static/images/tech/bootstrap.png" /></a>
			<a href="http://requirejs.org/" title="RequrieJS"><img src="static/images/tech/require.png" /></a>
		</div>	
		<hr/>
		<div class="text-center">
			<a href="https://www.python.org/" title="Python"><img src="static/images/tech/python.png" /></a>
			<a href="https://www.djangoproject.com/" title="Django"><img src="static/images/tech/django.png" /></a>
			<a href="http://nginx.org/" title="Nginx"><img src="static/images/tech/nginx.png" /></a>
		</div>
		<hr/>
		<div class="text-center">
			<a href="http://www.ubuntu.com/server" title="Ubuntu"><img src="static/images/tech/ubuntu.png" /></a>
			<a href="https://www.linode.com/" title="Linode"><img src="static/images/tech/linode.png" /></a>
		</div>
	</div>