<header>	    	
	<span class="header-icon">
		<i class="fa fa-rocket"></i>
	</span>
	<h1>
		RocketLaunches
	</h1>

	<ul>
		<li><a class="nav-home" href="#">Home</a></li>
		<li><a class="nav-about" href="#/about">About</a></li>
	</ul>

	<div id="social">
	<div class="fb-share-button" data-href="http://rocketlaunches.org" data-layout="button"></div>

<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://rocketlaunches.org" data-text="Check out RocketLaunches.org - An easy to use portal on all things rocket launches!" data-via="leemak" data-count="none" data-hashtags="rocketlaunches">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	</div>
</header>

<div class="container">
	<div class="alert alert-info">
		<strong>Alpha Version!</strong> This site is under heavy development. Questions, comments, bugs or concerns, please contact <a href="http://twitter.com/leemak">@leemak</a>
	</div>

	<div id="content">
		
	</div>

	<footer class="footer">
		Data is gathered from Wikipedia, NASA, SpaceX and/or News Outlets - This site is intended for educational/entertainment purposes only.
	</footer>

</div>

<div id="modal"></div>