<header>	    	
	<span class="header-icon">
		<i class="fa fa-rocket"></i>
	</span>
	<h1>
		RocketLaunches
	</h1>

	<ul>
		<li><a class="nav-home" href="#">Home</a></li>
		<li><a class="nav-about" href="#/about">About</a></li>
	</ul>
</header>

<div class="container">

	<div id="content">
		
	</div>

	<hr />

	<div class="alert alert-info">
		Questions, comments, bugs or concerns, please contact <a href="http://twitter.com/leemak">@leemak</a>
	</div>

	<footer class="footer">
		Data is gathered from Wikipedia, NASA, SpaceX and/or News Outlets - This site is intended for educational/entertainment purposes only.
	</footer>

</div>

<div id="modal"></div>