<header>	    	
	<span class="header-icon">
		<i class="fa fa-rocket"></i>
	</span>
	<h1>
		Rocket Launches (alpha)
	</h1>

	<ul id="main-menu">
		<li><a class="nav-home" href="#">Home</a></li>
		<li><a class="nav-launches" href="#/launches">Launches</a></li>
		<li><a class="nav-rockets" href="#/rockets">Rockets</a></li>
		<li><a class="nav-about" href="#/about">About</a></li>
	</ul>

	<hr style="width: 60%; margin: 10px auto;"/>
</header>

<div class="container">
	<div id="content" class="main">
		
	</div>

	<footer class="footer">
		Created by <a href="http://twitter.com/leemak">@leemak</a><br/>This site is intended for educational/entertainment purposes only.
	</footer>

</div>

<div id="modal"></div>

<style>
.launch {
	font-size: 24px;
}
</style>