<div class="text-center">
	<h2>Upcoming</h2>
</div>

<div id="grid-upcoming"></div>

<div class="spinner spinner-upcoming">
	<div class="rect1"></div>
	<div class="rect2"></div>
	<div class="rect3"></div>
	<div class="rect4"></div>
	<div class="rect5"></div>
</div>

<!--
<div class="text-center">
	<h3>Past</h3>
</div>
<hr/>
<div id="grid-past"></div>

<div class="spinner spinner-past">
	<div class="rect1"></div>
	<div class="rect2"></div>
	<div class="rect3"></div>
	<div class="rect4"></div>
	<div class="rect5"></div>
</div>
-->