<div class="table-responsive">
	<table class="table table-condensed table-hover table-striped launches">
		<tr>
			<th class="col-md-2">
				Vehicle
			</th>
			<th class="col-md-2">
				Date/Time
			</th>
			<th class="col-md-1 visible-lg">
				Orbit
			</th>
			<th class="col-md-2">
				Payload
			</th>
			<th class="col-md-3 visible-lg">
				Purpose
			</th>
			<th class="col-md-1 visible-lg text-center">
				Country
			</th>
			<th class="col-md-1">
				Status
			</th>
			<th class="text-center col-md-1">
				Video
			</th>
		</tr>
	</table>
</div>