<div class="table-responsive">
	<table class="table table-condensed table-hover table-striped launches">
		<tr>
			<th class="col-md-1 text-center">
				
			</th>
			<th class="col-md-2">
				Vehicle
			</th>
			<th class="col-md-3 visible-lg visible-md visible-sm">
				Date/Time
			</th>
			<th class="col-md-1 visible-lg visible-md visible-sm">
				Orbit
			</th>
			<th class="col-md-3 visible-lg visible-md visible-sm">
				Purpose
			</th>
			<th class="col-md-2 text-center">
				Status
			</th>
			<% if(window.isAuthenticated) { %>
				<th class="col-md-2 text-center">
					
				</th>
			<% } %>
		</tr>
	</table>
</div>