<td>
	<%=rocket_name%>
	<% if(remarks) { %>
		<span class="text-info" data-toggle="tooltip" title="" data-original-title="<%=remarks%>"><i class="fa fa-lightbulb-o"></i></span>
	<% } %>
</td>
<td>
	<%=launch_date_human%>
	<% if(is_close) { %>
		<span class="text-warning" data-toggle="tooltip" title="" data-original-title="This launch is happening very soon."><i class="fa fa-warning"></i></span>
	<% } %>
</td>
<td>
	<%=rocket_manufacturer%>
</td>
<td>
	<%=orbit%>
</td>
<td>
	<%=payload%>
</td>
<td class="text-center">
	<img src="static/images/flags/<%=country%>.png" />
</td>
<td class="status-<%=status%>">
	<%=status%>
</td>
<td class="text-center">
	<% if (launch_url) { %>
		<a href="<%=launch_url%>" class="fancybox video-link"><img src="static/images/video_providers/youtube.png" /></a>
	<% } %>
</td>