<div class="page-title">
	<h5>Viewing Launch</h5>
	<h3><%=rocket_name%></h3>
</div>
<hr/>
<div class="title" style="text-align:left" >
	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading">Launch Details</div>
	  <ul class="list-group">
	  	<li class="list-group-item"><strong>Status</strong> : <%=status%></li>
	  	<li class="list-group-item"><strong>Destination Orbit</strong> : <%=orbit%></li>
	  	<li class="list-group-item"><strong>Country</strong> : <img src="static/images/flags/<%=country%>.png" /></li>
	  </ul>
	</div>
</div>


<div class="title" style="text-align:left" >
	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading">Payload</div>
	  <ul class="list-group">
	  	<li class="list-group-item"><strong>Payload</strong> : <%=payload%></li>
	  	<li class="list-group-item"><strong>Payload Purpose</strong> : <%=payload_purpose%></li>
	  </ul>
	</div>
</div>

<div class="title" style="text-align:left" >
	<div class="panel panel-default">
	  <!-- Default panel contents -->
	  <div class="panel-heading">Rocket Details</div>
	  <ul class="list-group">
	  	<li class="list-group-item"><strong>Rocket Manufacturer</strong> : <a href="<%=rocket_manufacturer_url%>"><%=rocket_manufacturer%></a></li>
	  </ul>
	</div>
</div>

