<div class="listing launch-row clearfix">
	<div class="col-flag">
		<img src="static/images/flags/<%=country%>.png" /><br/>
		<span class="status <%=status%>"><%=status%></span>
	</div>	
	<div class="col-meta">
		<div class="title"><%=rocket_name%></div>
		<% if(customer) { %>
			<div class="meta">Customer: <%=customer%></div>
		<% } %>
		<% if(payload) { %>
			<div class="meta">Payload: <%=payload%></div>
		<% } %>
		<% if(orbit) { %>
			<div class="meta">Orbit: <%=orbit%></div>
		<% } %>
	</div>	
	<div class="col-countdown">
		<% if(launch_date_tbd) { %>
			<span class="time"><%=launch_date_date%></span>
		<% } else if(launch_date_formatted) { %>
			<span class="time"><%=launch_date_formatted%></span>
		<% } %>
	</div>	
</div>