<div class="clearfix">
  <div class="pull-left">
    <h3>Add Rocket</h3>
  </div>  
  <div class="pull-right">
    <a href="#/rockets" class="btn btn-default">Cancel</a>
    <a href="#" class="btn btn-success">Add Rocket</a>  
  </div>  
</div>
<hr/>
<div class="alert alert-danger hide">

</div>
<form class="form-horizontal">
 <div class="row">
   <div class="col-sm-6">
    <h4>General Information</h4>
    <div class="form-group">
      <label class="col-sm-3 control-label">Name</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="input-name" value="<%=name %>"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Status</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="input-status" value="<%=status %>"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Country</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="input-country" value="<%=country %>"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Function</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="input-function" value="<%=rocket_function %>"/>
      </div>
    </div>  
  </div>
  <div class="col-sm-6">
    <h4>Size Information</h4>
    <div class="form-group">
      <label class="col-sm-3 control-label">Height</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="input-height" value="<%=height %>"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Diameter</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="input-diameter" value="<%=diameter %>"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Mass</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="input-mass" value="<%=mass %>"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Stages</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="input-stages" value="<%=stages %>"/>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <h4>Lift Information</h4>
    <div class="form-group">
      <label class="col-sm-3 control-label">Payload to LEO</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="input-payload_leo" value="<%=payload_to_leo %>"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Payload to SSO</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="input-payload_sso" value="<%=payload_to_sso %>"/>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <h4>Financial Information</h4>
    <div class="form-group">
      <label class="col-sm-3 control-label">Cost</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="input-cost" value="<%=cost %>"/>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Cost Year</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="input-cost-year" value="<%=cost_year %>"/>
      </div>
    </div>
  </div>
  <div>
    <h4>Other Information</h4>
    <div class="col-sm-6">
      <div class="form-group">
        <label class="col-sm-3 control-label">First Flight</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="input-first-flight" value="<%=first_flight_date %>"/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Manufacturer</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="input-manufacturer" value="<%=manufacturer %>"/>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="form-group">
        <label class="col-sm-3 control-label">Manufacturer URL</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="input-manufacturer-url" value="<%=manufacturer_url %>"/>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label">Rocket Wiki URL</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="input-wiki-url" value="<%=wiki_url %>"/>
        </div>
      </div>
    </div>
  </div>
 </div>
</form>