{% extends "shared/__base.html" %}

{% load humanize %}
{% load app_filters %}

{% block content %}

	<div class="page-title">
		<h3>Past Launches</h3>
	</div>

    {% for launch in launches %}

    <div class="listing launch-row clearfix">
		<div class="col-meta">
			<div class="title">
				<a href="{% url 'launches_view' launch.id %}">{{ launch.rocket.name }}</a> - <strong>{{launch.status}}</strong>
			</div>
			{% if launch.customer %}
				<div class="meta">Customer: {{launch.customer}}</div>
			{% endif %}
			{% if launch.payload %}
				<div class="meta">Payload: {{launch.payload}}</div>
			{% endif %}
			{% if launch.orbit %}
				<div class="meta">Orbit: {{launch.orbit}}</div>
			{% endif %}
			{% if launch.country %}
				<div class="meta">Country: <img src="{{ STATIC_URL }}images/flags/{{ launch.country }}.png" style="width: 16px;" /></div>
			{% endif %}
		</div>	
		<div class="col-countdown"> 
			{{ launch.launch_date|get_launch_displaytext }}
		</div>	
	</div>

	{% endfor %}

	<script>
		$(function () {
			$(".countdown").each(function () {
				var date = $(this).attr("js-launch-date");

				countdown(new Date(date),
						    function(ts) {
						      $(this).html(ts.toHTML());
						    },
						    countdown.DAYS|countdown.HOURS|countdown.MINUTES|countdown.SECONDS);
			});
	
		});
	</script>
{% endblock %}