{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>RocketLaunches - Index of Rocket Launches around the world</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<link type="text/plain" rel="author" href="http://rocketlaunches.net/humans.txt" />
	
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:800italic,400,700,600' rel='stylesheet' type='text/css'>
	<link href='{{ STATIC_URL }}styles/bootstrap.min.css' rel='stylesheet' type='text/css'>
	<link href='{{ STATIC_URL }}styles/jquery.fancybox.css' rel='stylesheet' type='text/css'>
	<link href='{{ STATIC_URL }}styles/font-awesome.min.css' rel='stylesheet' type='text/css'>
	<link href='{{ STATIC_URL }}styles/style.css' rel='stylesheet' type='text/css'>

</head>
<body>
	<div id="app"></div>

	{% if not debug %}
	<script src="{{ STATIC_URL }}scripts/vendor/require.js"></script>
	<script src="{{ STATIC_URL }}scripts/deploy/app.js"></script>
	{% endif %}

	{% if debug %}
	<script data-main="{{ STATIC_URL }}scripts/main" src="{{ STATIC_URL }}scripts/vendor/require.js"></script>
	{% endif %}
</body>
</html>