{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<title>RocketLaunches - Index of Rocket Launches around the world</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<!--<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700,800' rel='stylesheet' type='text/css'>-->
	<link href='{{ STATIC_URL }}styles/bootstrap.min.css' rel='stylesheet' type='text/css'>
	<link href='{{ STATIC_URL }}styles/jquery.fancybox.css' rel='stylesheet' type='text/css'>
	<link href='{{ STATIC_URL }}styles/style.css' rel='stylesheet' type='text/css'>

</head>
<body>
	<div id="app"></div>

	<script type="text/template" id="view-app">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
          	RocketLaunches
          </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a class="nav-home" href="#">Home</a></li>
            <li><a class="nav-about" href="#/about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

	 	<div id="content">
	  		
	  	</div>

	  	<hr />

		<footer class="footer">
			2015 - RocketLaunches | Sources: Wikipedia - This site is intended for educational/entertainment purposes only.
		</footer>

    </div> <!-- /container -->


	</script>

	<script type="text/template" id="view-home">
		<h2>Home</h2>
		<div id="grid-launches"></div>
	</script>

	<script type="text/template" id="view-about">
		<h2>About</h2>
	</script>


	<script type="text/template" id="view-launches">
	  	<table  class="table table-condensed table-hover table-striped launches">
	  		<tr>
	  			<th>
	  				Vehicle
		  		</th>
		  		<th>
		  			Date/Time
		  		</th>
		  		<th>
		  			Manufacturer
		  		</th>
	  			<th>
		  			Payload
		  		</th>
		  		<th class="align-center">
		  			Country
		  		</th>
	  			<th>
		  			Status
		  		</th>
	  			<th class="align-center">
		  			Launch Video
		  		</th>
	  		</tr>
	  		<tbody>

	  		</tbody>
	  	</table>
	</script>

	<script type="text/template" id="view-launch-row">
		<td>
			<a  href="#" class="rocket-name"><%=rocket.name%></a>
  		</td>
  		<td class="moment-me">
  			<%=launch_date_human%>
  		</td>
  		<td>
  			<%=rocket.manufacturer%>
  		</td>
  		<td>
  			<%=payload%>
  		</td>
  		<td class="align-center">
  			<img src="{{ STATIC_URL }}images/flags/<%=country%>.png" />
  		</td>
		<td class="status-<%=status%>">
  			<%=status%>
  		</td>
		<td class="align-center">
			<% if (launch_url) { %>
				<a href="<%=launch_url%>" rel="group" class="fancybox video-link"></a>
			<% } %>
  		</td>
	</script>

	<script type="text/template" id="view-launch-dashboard">
		launch dashboard!
	</script>

	<script src='{{ STATIC_URL }}scripts/vendor/jquery.js'></script>
	<script src='{{ STATIC_URL }}scripts/vendor/underscore.min.js'></script>
	<script src='{{ STATIC_URL }}scripts/vendor/backbone.min.js'></script>
	<script src='{{ STATIC_URL }}scripts/vendor/backbone.marionette.min.js'></script>
	<script src='{{ STATIC_URL }}scripts/vendor/jquery.mousewheel-3.0.6.pack.js'></script>
	<script src='{{ STATIC_URL }}scripts/vendor/jquery.fancybox.pack.js'></script>
	<script src='{{ STATIC_URL }}scripts/vendor/jquery.fancybox.media.js'></script>
	<script src='{{ STATIC_URL }}scripts/vendor/moment.js'></script>
	<script src='{{ STATIC_URL }}scripts/vendor/bootstrap.min.js'></script>
	<script src='{{ STATIC_URL }}app/app.js'></script>
</body>
</html>