{% extends "shared/__base.html" %}
{% load humanize %}

{% block content %}
	<div class="page-title">
		<h3>Rockets</h3>
	</div>

    {% for rocket in rockets %}
    
    <div class="listing clearfix">
		<div class="title">
			<a href="{% url 'rockets_view' rocket.id %}">{{ rocket.name }}</a>
		</div>	
		{% if rocket.manufacturer %}
				<div class="meta">Manufacturer: {{rocket.manufacturer}}</div>
		{% endif %}
		{% if rocket.country %}
			<div class="meta">Country: <img src="{{ STATIC_URL }}images/flags/{{ rocket.country }}.png" style="width: 16px;" /></div>
		{% endif %}
	</div>

	{% endfor %}
{% endblock %}