<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit Launch</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="form-group">
            <label for="inputEmail3" class="col-sm-3 control-label">Rocket</label>
            <div class="col-sm-8">
              <select class="form-control combo-rocket">

              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="inputPassword3" class="col-sm-3 control-label">Status</label>
            <div class="col-sm-4">
             <select class="form-control combo-status">
               <option>Scheduled</option>
               <option>Success</option>
               <option>Failure</option>
               <option>Cancelled</option>
               <option>Postponed</option>
               <option>TBD</option>
               <option>N/A</option>
             </select>
           </div>
         </div>
         <div class="form-group">
          <label for="inputPassword3" class="col-sm-3 control-label">Date/Time</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="input-launch-date" value="<%=launch_date %>" />
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-3 control-label">Payload</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="input-payload" value="<%=payload %>"/>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-3 control-label">Purpose</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="input-purpose" value="<%=payload_purpose %>"/>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-3 control-label">Orbit</label>
          <div class="col-sm-4">
            <select class="form-control combo-orbit">
              <option>LEO</option>
              <option>L1</option>
              <option>MEO</option>
              <option>Molniya</option>
              <option>GSO</option>
              <option>GTO</option>
              <option>SSO</option>
              <option>N/A</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-3 control-label">Video</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="input-launch-url" value="<%=launch_url %>"/>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-3 control-label">Customer</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="input-customer" value="<%=customer %>"/>
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-3 control-label">Customer Url</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="input-customer-url" value="<%=customer_url %>"/>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-success">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->