.message { 
	background: url(../images/offline.jpg) no-repeat stretch stretch fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}