body {
	font-family: 'Open Sans', sans-serif;
	padding-top: 70px;
}

h1
{
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 15px;
	margin-top: 0;
}

.status-Success
{
	background-color: #dff0d8;
}

.status-Failure
{
	background-color: rgb(252, 166, 166);
}

td[class^="status-Partial"]
{
	background-color: rgb(252, 166, 166);
}

.status-Scheduled
{
	background-color: #f5f5f5;
}

#page-about .panel-powered-by img
{
	margin-right: 50px;
	opacity: .7;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

#page-about .panel-powered-by img:hover
{
	opacity: 1;
}

header
{
	margin: 0 auto 20px;
	text-align: center;
	width: 500px;
}

header ul
{
	margin: 0;
	list-style: none;
}

header li
{
	display: inline;
	margin: 0;
	margin-right: 30px;
}

.header-icon
{
	color: rgb(114, 147, 171);
	font-size: 50px;
}

footer
{
  color: #777;
  font-size: 11px;
  margin-bottom: 30px;
}

.video-link img
{
	width: 16px;
}

.panel-about
{
	margin: 0 auto;
	width: 600px;
}