body {
	font-family: 'Open Sans', sans-serif;
	padding-top: 70px;
}

h1
{
	font-size: 24px;
	font-weight: 700;
	margin-bottom: 15px;
	margin-top: 0;
}

.title
{
	text-align: center;
}

.status-Success
{
	color: #66CD00;
}

.status-Failure
{
	color: #FF0000;
}

.alert-info
{
	margin: 20px auto;
}

td[class^="status-Partial"]
{
	color: #FF0000;
}

.status-Scheduled
{
	color: #333;
}

header
{
	margin: 0 auto;
	text-align: center;
}

header ul
{
	margin: 0;
	list-style: none;
}

header li
{
	display: inline;
	margin: 0;
	margin-right: 30px;
}

.header-icon
{
	color: rgb(114, 147, 171);
	font-size: 50px;
}

footer
{
  color: #777;
  font-size: 11px;
  margin-bottom: 30px;
}

small
{
	font-size: 12px;
}

.video-link img
{
	width: 16px;
}

.panel-about
{
	margin: 0 auto;
}

#page-about .panel-powered-by img
{
	margin-right: 50px;
	opacity: .7;
	max-width: 150px;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

#page-about .panel-powered-by img:hover
{
	opacity: 1;
}

@media only screen and (max-device-width: 400px) {
	#page-about .panel-powered-by {
		text-align: center;
	}

	#page-about .panel-powered-by img {
		display: block;
		margin: 0 auto 30px;		
	}
}

@media only screen and (min-device-width: 720px) {
	.panel-about
	{
		margin: 0 auto;
		width: 600px;
	}
}

/* Spinner */

.spinner {
  margin: 25px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #AAA;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
  animation: stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
