hr {
	border-color: #EEE;
	background-color: #EEE;
	color: #EEE;
	margin-left: 25px;
	margin-right: 25px;
}

body {
	font-family: 'Open Sans', sans-serif;
	background-color: transparent;
	padding-top: 60px;
}

h1
{
	font-size: 36px;
	font-weight: 300;
	margin-bottom: 15px;
	margin-top: 0;
}

h1 sup
{
	font-size: 14px;
	top: -1.5em
}


td[class^="status-Partial"]
{
	color: #FF0000;
}

header
{
	line-height: 37px;
	margin: 0 auto;
}

ul
{
	list-style: none;
	margin: 0 auto;
	padding: 0;
	width: 483px;
}

header li
{
	display: inline;
	margin: 0;
	margin-right: 30px;
}

footer
{
	color: #888;
	font-size: 12px;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: right;
}

footer a
{
	font-weight: 600;
}

small
{
	font-size: 12px;
}

strong{
	font-weight: 600;
}

hr {
	margin: 10px 0;
}

.loader
{
	padding: 20px;
	text-align: center;
}

.page
{
	padding: 10px 60px;
}

.page-title
{
	overflow:hidden;
	padding: 10px 0;
	text-align: center;
}

.page-title h3
{
	margin: 0;
}

.grid-launches-past tr
{
	font-size: 18px;
}

.main
{
	border-radius: 2px;
}

.status-Success
{
	color: #66CD00;
}

.status-Failure
{
	color: #FF0000;
}

.alert-info
{
	margin: 20px auto;
}

.status-Scheduled
{
	color: #333;
}

#main-menu a
{
	padding: 5px 20px;
}

#main-menu .selected
{
	border-bottom: 2px solid #337ab7;
}

.header-icon
{
	color: #fff;
	font-size: 50px;
}

.alert-info {
	color: #FAFAFA;
	background-color: rgba(217,237,247,.2);
	border-color: rgba(255, 255, 255, 0.2);
}

.video-link img
{
	width: 16px;
}

.panel-powered-by
{
	margin-top: 50px
}

.panel-powered-by img
{
	margin-right: 50px;
	max-width: 150px;
	opacity: .7;
	transition: opacity .25s ease-in-out;
	-moz-transition: opacity .25s ease-in-out;
	-webkit-transition: opacity .25s ease-in-out;
}

.panel-powered-by img:hover
{
	opacity: 1;
}

@media only screen and (max-device-width: 400px) {
	#page-about .panel-powered-by {
		text-align: center;
	}

	#page-about .panel-powered-by img {
		display: block;
		margin: 0 auto 30px;		
	}
}

@media only screen and (min-device-width: 720px) {
	.panel-about
	{
		margin: 0 auto;
		width: 600px;
	}
}

/* Spinner */

.spinner {
	font-size: 10px;
	height: 30px;
	margin: 25px auto;
	text-align: center;
	width: 50px;
}

.spinner > div {
	-webkit-animation: stretchdelay 1.2s infinite ease-in-out;
	animation: stretchdelay 1.2s infinite ease-in-out;
	background-color: #333;
	display: inline-block;
	height: 100%;
	width: 6px;
}

.spinner .rect2 {
  	-webkit-animation-delay: -1.1s;
  	animation-delay: -1.1s;
}

.spinner .rect3 {
  	-webkit-animation-delay: -1.0s;
  	animation-delay: -1.0s;
}

.spinner .rect4 {
  	-webkit-animation-delay: -0.9s;
  	animation-delay: -0.9s;
}

.spinner .rect5 {
  	-webkit-animation-delay: -0.8s;
  	animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
  	0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  	20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
  	0%, 40%, 100% { 
    	transform: scaleY(0.4);
    	-webkit-transform: scaleY(0.4);
  	}  20% { 
	transform: scaleY(1.0);
    	-webkit-transform: scaleY(1.0);
  	}
}

.container
{
	width: 800px;
}

.listing-container
{
	margin: 0 auto 15px;
}

.listing {
	background-color: whitesmoke;
	font-weight: 300;
	font-size: 16px;
	margin: 0 auto 15px;
	padding: 19px;
}

.listing:hover
{
	cursor: pointer;
}

.listing .meta
{
	font-size: 12px;
}

.listing .time
{
	font-weight: 600;
}

.listing .title
{
	font-weight: 600;
}

.listing .country
{
	text-align: center;
	width: 65px;
}

.listing .status
{
	font-weight: 600;
	font-size: 12px;
}

.listing .status.Success
{
	color: rgb(82, 208, 88);
}

.listing .status.Failure
{
	color: red;
}

.button-subscribe
{
	margin-top: -13px;
}